Repository umc-Teamply/Teamply_iOS, pull requests merged in 2023-02, with the labels that each got.

#20 [Chore] .DS_Store 삭제 및 gitingore 추가
  .DS_Store
  .gitignore
  Teamply/.DS_Store
  Teamply/Teamply/.DS_Store
  Teamply/Teamply/Resource/.DS_Store
  Teamply/Teamply/Resource/Assets.xcassets/.DS_Store
  Teamply/Teamply/Resource/Font 복사본/.DS_Store
  Teamply/Teamply/Resource/Font/.DS_Store
  Teamply/Teamply/Screen/.DS_Store
  Teamply/Teamply/Screen/Main/.DS_Store
  Teamply/Teamply/Screen/MyPage/.DS_Store
Labels: 오즈🌈, ⚙️Chore

#25 Fix/#24 schedule date issue
  Teamply/Teamply/Screen/Box/CompletedViewController.swift
  Teamply/Teamply/Screen/Home/schedule/mainSchedule/scheduleViewController.swift
  Teamply/Teamply/Screen/Home/schedule/registSchedule/registSchedule.storyboard
  Teamply/Teamply/Screen/Home/schedule/registSchedule/registScheduleViewController.swift
Labels: 💙Feat, 오즈🌈, 📝Schedule

#27 [Feat] 선택한 색 표시 및 유지
  Teamply/Teamply/Screen/Home/createTeamProject/createTeamProject.storyboard
  Teamply/Teamply/Screen/Home/createTeamProject/createTeamProjectViewController.swift
  Teamply/Teamply/Screen/Home/createTeamProject/selectColorViewController.swift
  Teamply/Teamply/Screen/Home/schedule/registSchedule/registSchedule.storyboard
Labels: 📝Home, 💙Feat, 오즈🌈

#30 [Feat] 코드로 프로젝트 추가 시 색상 선택 기능 추가
  Teamply/Teamply/Screen/Home/attendTeamProject/SelectNoneColorViewController.swift
  Teamply/Teamply/Screen/Home/attendTeamProject/attendTeamProject.storyboard
  Teamply/Teamply/Screen/Home/attendTeamProject/attendTeamProjectViewController.swift
Labels: 💙Feat, 오즈🌈, 📝AddProject

#32 [Feat] 완료된 프로젝트 구현 #23
  Teamply/Teamply/Screen/Box/CompletedTab.storyboard
  Teamply/Teamply/Screen/Box/CompletedViewController.swift
  Teamply/Teamply/Screen/Box/SemesterProjectTableViewCell.swift
Labels: 💙Feat, 📝Box, 오즈🌈

#34 [Fix] 진행중인 프로젝트 스크롤 안되는 문제 해결
  Teamply/Teamply/Screen/Box/InProgressTab.storyboard
  Teamply/Teamply/Screen/Box/InProgressViewController.swift
Labels: 🛠Fix, 📝Box, 오즈🌈

#36 [Feat] 내 정보 관리 페이지 구현
  Teamply/Teamply/Resource/Assets.xcassets/close.imageset/Contents.json
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/AddTendency.storyboard
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/AddTendencyViewController.swift
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/LeftAlignedCollectionViewFlowLayout.swift
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/MyInformation.storyboard
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/MyInformationViewController.swift
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/TendencyCollectionViewCell.swift
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/TendencyHeader.swift
  Teamply/Teamply/Screen/MyPage/MyPage.storyboard
  Teamply/Teamply/Screen/MyPage/MyPageViewController.swift
Labels: 💙Feat, 오즈🌈, 📝MyInformation

#41 [Chore] 서버 통신 밑작업 완료
  Teamply/Teamply/Network/Base/MoyaLoggingPlugin.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
Labels: 오즈🌈, 📡Network, ⚙️Chore

#39 [Fix] 홈 화면에서 프로젝트를 collectionView로 구현
  Teamply/Teamply/Screen/Home/attendTeamProject/attendTeamProjectViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/Home.storyboard
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/ProjectCollectionViewCell.swift
Labels: 📝Home, 🛠Fix, 오즈🌈

#44 [Network] 회원가입, 로그인 API 연동
  Teamply/Teamply/Global/Extensions/String+.swift
  Teamply/Teamply/Network/API/LogInAPI.swift
  Teamply/Teamply/Network/API/SignUpAPi.swift
  Teamply/Teamply/Network/API/empty
  Teamply/Teamply/Network/Base/GeneralResponse.swift
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
  Teamply/Teamply/Network/Model/LogInModel/LogInRequest.swift
  Teamply/Teamply/Network/Model/LogInModel/LogInResponse.swift
  Teamply/Teamply/Network/Model/SignUpModel/SignUpRequest.swift
  Teamply/Teamply/Network/Model/SignUpModel/SignUpResponse.swift
  Teamply/Teamply/Network/Model/empty
  Teamply/Teamply/Network/Service/LogInService.swift
  Teamply/Teamply/Network/Service/SignUpService.swift
  Teamply/Teamply/Network/Service/empty
  Teamply/Teamply/Screen/Login/IDLoginViewController.swift
  Teamply/Teamply/Screen/Login/MemberLoginViewController.swift
Labels: 오즈🌈, 📡Network, 📝Login

#47 [Network] 홈 화면 API 연동
  Teamply/Teamply/Network/API/HomeAPI/HomeAPI.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
  Teamply/Teamply/Network/Service/HomeService.swift
  Teamply/Teamply/Network/Service/UserInfoResponse.swift
  Teamply/Teamply/Network/Service/UserProjectResponse.swift
  Teamply/Teamply/Resource/Support/SceneDelegate.swift
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/ProjectInfoDataModel.swift
  Teamply/Teamply/Screen/Main/Main.storyboard
Labels: 📝Home, 오즈🌈, 📡Network

#48 [Feat] 프로젝트 소감 작성 페이지 구현
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Network/Model/HomeModel/UserInfoResponse.swift
  Teamply/Teamply/Network/Service/HomeService.swift
  Teamply/Teamply/Resource/Support/Info.plist
  Teamply/Teamply/Resource/Support/SceneDelegate.swift
  Teamply/Teamply/Screen/Box/Completed/CompletedTab.storyboard
  Teamply/Teamply/Screen/Box/Completed/CompletedViewController.swift
  Teamply/Teamply/Screen/Box/Completed/SemesterProjectTableViewCell.swift
  Teamply/Teamply/Screen/Box/Impression/Impression.storyboard
  Teamply/Teamply/Screen/Box/Impression/ImpressionViewController.swift
  Teamply/Teamply/Screen/Box/Impression/QuestionTableViewCell.swift
  Teamply/Teamply/Screen/Box/InProgress/InProgressTab.storyboard
  Teamply/Teamply/Screen/Box/InProgress/InProgressViewController.swift
  Teamply/Teamply/Screen/Box/MainBox/Box.storyboard
  Teamply/Teamply/Screen/Box/MainBox/BoxViewController.swift
  Teamply/Teamply/Screen/Box/MainBox/TabManViewController.swift
  Teamply/Teamply/Screen/Box/ProjectTableViewCell.swift
Labels: 💙Feat, 📝Box, 오즈🌈

#50 [Fix] response 파일 위치 변경 #45
  Teamply/Teamply/Network/Model/AddProjectModel/CreateProjectModel/CreateProjectRequest.swift
  Teamply/Teamply/Network/Model/HomeModel/UserInfoResponse.swift
  Teamply/Teamply/Network/Model/HomeModel/UserProjectResponse.swift
  Teamply/Teamply/Network/Service/UserInfoResponse.swift
Labels: 📝Home, 🛠Fix, 오즈🌈

#52 [Network] 프로젝트 직접 생성하는 API 연동
  Teamply/Teamply/Network/API/AddProjectAPI.swift
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
  Teamply/Teamply/Network/Model/AddProjectModel/CreateProjectModel/CreateProjectRequest.swift
  Teamply/Teamply/Network/Model/AddProjectModel/CreateProjectRequest.swift
  Teamply/Teamply/Network/Model/AddProjectModel/CreateProjectResponse.swift
  Teamply/Teamply/Network/Service/AddProjectService.swift
  Teamply/Teamply/Screen/Home/createTeamProject/createTeamProjectViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
Labels: 📝Home, 오즈🌈, 📡Network

#54 [Fix] 프로젝트 생성 후 홈 화면에 반영
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Screen/Home/createTeamProject/createTeamProjectViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/Home.storyboard
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
Labels: 📝Home, 🛠Fix, 오즈🌈

#63 [Network] 초대 코드로 프로젝트 추가하기 API 연동
  Teamply/Teamply/Network/API/AddProjectAPI.swift
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
  Teamply/Teamply/Network/Model/AddProjectModel/AttendProjectRequest.swift
  Teamply/Teamply/Network/Model/AddProjectModel/AttendProjectResponse.swift
  Teamply/Teamply/Network/Service/AddProjectService.swift
  Teamply/Teamply/Screen/Home/attendTeamProject/SelectNoneColorViewController.swift
  Teamply/Teamply/Screen/Home/attendTeamProject/attendTeamProjectViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
Labels: 오즈🌈, 📡Network, 📝AddProject

#65 [Network] 프로젝트 세부 페이지 API 연동
  Teamply/Teamply/Network/API/TeamPageAPI.swift
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Network/Base/URLConstant.swift
  Teamply/Teamply/Network/Model/HomeModel/UserProjectResponse.swift
  Teamply/Teamply/Network/Model/TeamPageModel/InviteCodeResponse.swift
  Teamply/Teamply/Network/Model/TeamPageModel/ProjectMemberResponse.swift
  Teamply/Teamply/Network/Model/TeamPageModel/ProjectScheduleResponse.swift
  Teamply/Teamply/Network/Service/TeamPageService.swift
  Teamply/Teamply/Screen/Home/TeamPage/TeamPage.storyboard
  Teamply/Teamply/Screen/Home/TeamPage/TeamPageViewController.swift
  Teamply/Teamply/Screen/Home/TeamPage/codeViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/HomeViewController.swift
  Teamply/Teamply/Screen/Home/mainHome/ProjectCollectionViewCell.swift
Labels: 오즈🌈, 📡Network, 📝TeamPage

#67 Fix/#51 login UI
  Teamply/Teamply/Resource/Assets.xcassets/setting.imageset/Contents.json
  Teamply/Teamply/Resource/Assets.xcassets/setting.imageset/setting.svg
  Teamply/Teamply/Screen/Login/IDLoginViewController.swift
  Teamply/Teamply/Screen/Login/Login.storyboard
  Teamply/Teamply/Screen/Login/LoginViewController.swift
  Teamply/Teamply/Screen/Login/MemberLoginViewController.swift
  Teamply/Teamply/Screen/Reminder/Reminder.storyboard
Labels: 🛠Fix, 토리🐹, 📝Login

#68 [Fix] 프로젝트 세부페이지 수정
  Teamply/Teamply/Global/Extensions/UIColor+.swift
  Teamply/Teamply/Network/Base/NetworkConstant.swift
  Teamply/Teamply/Resource/Assets.xcassets/green.colorset/Contents.json
  Teamply/Teamply/Resource/Assets.xcassets/red.colorset/Contents.json
  Teamply/Teamply/Screen/Home/TeamPage/ScheduleCollectionViewCell.swift
  Teamply/Teamply/Screen/Home/TeamPage/TeamPage.storyboard
  Teamply/Teamply/Screen/Home/TeamPage/TeamPageViewController.swift
  Teamply/Teamply/Screen/Home/addDetailedSchedule/addDetailedSchedule.storyboard
  Teamply/Teamply/Screen/Home/addDetailedSchedule/addDetailedScheduleViewController.swift
  Teamply/Teamply/Screen/MyPage/MyInformationManagement/TendencyCollectionViewCell.swift
Labels: 🛠Fix, 오즈🌈, 📝TeamPage

#69 [Network] 진행중인 팀플 보관함 API 연동
  Teamply/Teamply/Network/API/BoxAPI.swift
  Teamply/Teamply/Network/Model/BoxModel/CompletedProjectResponse.swift
  Teamply/Teamply/Network/Service/BoxService.swift
  Teamply/Teamply/Screen/Box/InProgress/InProgressViewController.swift
Labels: 📝Box, 오즈🌈, 📡Network

#71 [Network] 마이페이지 API 연동
  Teamply/Teamply/Network/Service/BoxService.swift
  Teamply/Teamply/Screen/Login/IDLoginViewController.swift
  Teamply/Teamply/Screen/MyPage/MyPageViewController.swift
Labels: 📝MyPage, 오즈🌈, 📡Network

#73 [Network] 프로젝트 전체 일정 보기 API 수정
  Teamply/Teamply/Network/Model/TeamPageModel/ProjectScheduleResponse.swift
  Teamply/Teamply/Screen/Home/TeamPage/TeamPageViewController.swift
Labels: 오즈🌈, 📡Network, 📝TeamPage

#77 [Fix] 일정 추가 페이지 수정 #74
  Teamply/Teamply/Screen/Home/schedule/registSchedule/registSchedule.storyboard
  Teamply/Teamply/Screen/Home/schedule/registSchedule/registScheduleViewController.swift
  Teamply/Teamply/Screen/Home/schedule/registSchedule/selectProject/selectProjectViewController.swift
Labels: 오즈🌈, 📝Schedule
